/* ----------------------------------------------splash screen
 */

.splash-container{
    width: 100%;
    text-align:center;
    display: inline;
    background-image: url(images/moonSun.png);
    background-repeat: no-repeat;
    
}

.title,
.instructions,
.start-game {
    margin: 0 20%;
}

.title >h1{
    font-size: 100px;
    margin-top: 0;
}

.instructions > p{
    font-size: 40px;
    padding-left: 50px;
    color: rgb(255, 254, 254);
}

.splash-container > button{
    font-size: 20px;
    font-weight: 800;
    color: cornsilk;
    margin-left: 25%;
    height: 15%;
    width: 20%;
    background-color: rgb(6, 24, 126);
    cursor: pointer;

}


/* -----------------------------game screen */


#canvas {
    width: 75%;
    text-align:center;
}

canvas {
    display: inline;
}

/* ---------------------------------game over screen */

.game-over-container{
    width: 100%;
    text-align:center;
    display: inline-block;
    background-image: url(images/explosion.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.game-over-container> div {
    size: inherit;
    margin-right: 30%;
}

.game-over-container> 
div > 
h3, 
h1, 
button{
    margin-right: 35%;
}

.game-over-container> div > h3{
    color:whitesmoke;
    padding-top: 20%;
    font-size: 35px;
    padding-left: 20%;
}

.game-over-container> div >h1{
    color:whitesmoke;
    font-size: 80px;
    margin-top: 10%;
}

.game-over-container> div > button{
    font-size: 20px;
    font-weight: 800;
    color: cornsilk;
    margin-left: 25%;
    background-color: rgb(6, 24, 126);
    cursor: pointer;

}










/* ---------------------------------------GAME WON SCREEN */



.game-won-container{
    width: 100%;
    text-align:center;
    display: inline;
    background-image: url(images/astrCeleb.jpg);
    background-repeat: no-repeat;
    background-size: contain;

}

.game-won-container> div {
    
    margin-left: 10%;
}

.game-won-container> 
div > 
h3, 
h1, 
button{
    margin-right: 40%;
}

.game-won-container> div > h3{
    color:rgb(167, 121, 121);
    padding-top: 20%;
    font-size: 35px;
    padding-left: 50px;
}

.game-won-container> div >h1{
    color:whitesmoke;
    font-size: 80px;
    margin-top: 10%;
    padding-left: 10%;
}

.game-won-container> div > button{
    font-size: 20px;
    font-weight: 800;
    color: cornsilk;
    margin-left: 10%;
    background-color: rgb(6, 24, 126);
    cursor: pointer;

}